/* css reset  css重置 */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figure,figcaption{
    margin:0;
    padding:0;
}
/*设置html字号为100px*/
html{
    font-size: 20px;
}
/* 设置全局默认字号和字体 */
body{
    font: 16px "微软雅黑",Arial;
}
/* 取消默认加粗样式 */
h1,h2,h3,h4,h5,h6,b,strong{
    font-weight: normal;
    font-size: 100%;
}
/* 取消默认倾斜样式 */
i,em{
    font-style: normal;
}
/* 取消默认下划线 */
a{
    color: #444444;
    text-decoration: none;
}
/* 取消列表项目符号 */
li{
    list-style: none;
}
/* 取消input选中后的高亮框 */
input{
    outline: none;
}
/* 帮助解决图片被嵌套后的3~6像素bug */
img{
    vertical-align: middle;
}
.clearfix::after{
    display: block;
    height: 0;
    content: '';
    clear: both;
    overflow: hidden;
    visibility: hidden;
}   /*万能清除浮动法*/
/* #nav::-webkit-scrollbar{display: none;}   取消滚动条显示 */